/* CROSS-SITE MIXINS */


/* CSS3 Animated Transitions */

@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition:$transition-property $transition-time $method;
    -moz-transition:$transition-property $transition-time $method;
    -ms-transition:$transition-property $transition-time $method;
    -o-transition:$transition-property $transition-time $method;
    transition:$transition-property $transition-time $method;
}

// CSS 3 General Transform
@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

/* CSS3 Border Radius */

@mixin border-radius($radius) {
	-webkit-border-radius:$radius;
	-moz-border-radius:$radius;
	border-radius:$radius;
}


@mixin border-top-left-radius($radius) {
	-webkit-border-top-left-radius:$radius;
	-moz-border-top-left-radius:$radius;
	border-top-left-radius:$radius;
}

@mixin border-top-right-radius($radius) {
	-webkit-border-top-right-radius:$radius;
	-moz-border-top-right-radius:$radius;
	border-top-right-radius:$radius;
}


@mixin border-bottom-left-radius($radius) {
	-webkit-border-bottom-left-radius:$radius;
	-moz-border-bottom-left-radius:$radius;
	border-bottom-left-radius:$radius;
}

@mixin border-bottom-right-radius($radius) {
	-webkit-border-bottom-right-radius:$radius;
	-moz-border-bottom-right-radius:$radius;
	border-bottom-right-radius:$radius;
}



/* CSS3 Text shadow */

@mixin text-shadow($color, $offset, $blur, $spread) {
	-webkit-text-shadow:$color $offset $blur $spread;
	-moz-text-shadow:$color $offset $blur $spread;
	text-shadow:$color $offset $blur $spread;
}

/* CSS3 Box shadow */

@mixin box-shadow($color, $offset, $blur, $spread) {
	-webkit-box-shadow:$color $offset $blur $spread;
	-moz-box-shadow:$color $offset $blur $spread;
	box-shadow:$color $offset $blur $spread;
}



/* Set width & height */
@mixin square-size($size) {

  width:$size;
  height:$size;
}

/* Create triangle */
@mixin triangle($color: #000, $size: 50px, $point: top) {
  $opposite: opposite-position($point);
  height: 0;
  width: 0;
  border: $size solid rgba(255, 255, 255, 0);
  border-#{$opposite}: $size solid $color;
  border-#{$point}: 0;
}

/* border-radius-promo */ 
@mixin border-radius-promo ($radius) {
     -webkit-border-top-right-radius: $radius;
        -moz-border-top-right-radius: $radius;
         -ms-border-top-right-radius: $radius;
             border-top-right-radius: $radius;
  
  -webkit-border-top-left-radius: $radius;
     -moz-border-top-left-radius: $radius;
      -ms-border-top-left-radius: $radius;
          border-top-left-radius: $radius;

   -webkit-border-bottom-right-radius: $radius;
      -moz-border-bottom-right-radius: $radius;
       -ms-border-bottom-right-radius: $radius;
           border-bottom-right-radius: $radius;
}

@mixin force-3d () {
  @include transform(translate3d(0, 0, 0));

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
}

